__pycache__
.env
.vscode
.pytest_cache
.venv
.mypy_cache
.null-ls*

node_modules
package.json
package-lock.json

!.vscode/settings.json

etc/*
!etc/.gitkeep
log/*
!log/.gitkeep

tmp/*
!tmp/.gitkeep

uploadFolder/*
!uploadFolder/.gitkeep

SpecialDir/*
!SpecialDir/.gitkeep

**.zip
**.rar

