__pycache__
.env
.vscode
.pytest_cache
.venv

runapp

etc/*
!etc/.gitkeep
log/*
!log/.gitkeep
web/dash
web/vendor
web/index-*

public/dash
public/vendor
public/index-*

tmp/*
tmp/.gitkeep

uploadFolder/*
!uploadFolder/.gitkeep


**.zip
**.rar